@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

/* HEADER BLOG & SINGLE POST */
.header-blog {
    z-index: 999;
    min-width: 100vw;
    margin-bottom: 60px;
    padding: 1% 5%;
    height: 60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 
    0px 1px 10px 0px rgba(0,0,0,0.12) , 
    0px 2px 4px -1px rgba(0,0,0,0.2) ;
}
/* BLOG NAVBAR */

.blog-nav {
    display: flex;
    margin: 0;
    padding: 0;
}
.blog-nav > li {
    list-style: none;
    border-bottom: 2px solid rgba(160, 177, 244, 0);
    padding: 8px 15px;
}
.blog-nav li:hover {
    border-bottom: 2px solid rgb(160, 177, 244);
    -webkit-transition: 0.7s ease;
            transition: 0.7s ease;
}
.blog-nav > li > a {
    color: #1d1f21;
    text-decoration: none;
}
/* BURGER MENU */
.header-blog #burger-checkbox {
    display: none;
}
/* SIDEBAR */
.sidebar {
    background-color: rgb(235, 235, 235);
    padding-top: 12rem;
    min-width: 20%;
    min-height: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14), 
        0px 1px 10px 0px rgba(0,0,0,0.12), 
        0px 2px 4px -1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}
.sidebar-title {
    font-size: 24px;
    color:rgb(160, 177, 244);
    font-weight: 600;
    padding-bottom: 2rem;
    width: 100% !important;
    text-align: center;
} 
.categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-tags {
    list-style: none;
    padding: 0;
    width: 100%;
}
.sidebar-tags li {
    text-align: center;
    width: 100%;
    padding: .8rem;
}
.sidebar-tags li:hover {
    background-color: rgb(213, 213, 213);
}
.sidebar-tags li a {
    text-decoration: none;
    font-size: 18px;
    color: #303030;
}
.blog-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}
.blog-div  h2 {
    text-align: center;
    font-family: "El Messiri";
    padding-bottom: 2rem;
}

/* POSTS LIST SECTION */
.posts-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   padding: 6rem 5%;
}
.post {
    display: block;
    /* border-bottom: 1px dotted rgb(151, 149, 149); */
    padding: 2.2% 2%  2.2% 0;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 5px;
}
.post:hover {
    /* background-color: rgba(214, 213, 213, 0.646); */
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
    border-left: 3px solid rgb(160, 177, 244);
}

/* POST DATE */
.post > h4 {
    color: rgb(160, 177, 244);
    margin: 3px 0;
    font-size: 14px;
    width: 20%;
    text-align: right;
    float: left;
}
.post > p {
    clear: both;
    font-size: 18px;
    margin-top: 3em;
    word-spacing: 0.04em;
    letter-spacing: 0.009em;
    line-height: 1.3;
    color: rgb(48, 47, 47);
    margin-left: 2rem;
    margin-bottom: 1rem;
    
}
.post li {
    list-style: none;
    border: 1px solid #969696;
    padding: .3rem;
    border-radius: 7px;
    text-align: center;
    width: 10%;
    float: right;
}
.post li a {
    text-decoration: none;
    color: #969696;
}
.post-title {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-weight: 600;
    font-size: 27px;
    width: 80%;
    padding-left: 2rem;
    float: left;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* RESPONSIVE */
@media (max-width: 1000px) {
    .posts-cont {
        width: 100%;
    }
}
@media (max-width: 800px) {
    
    /* BURGUER MENU */


    .header-blog .burger-label {
        margin: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 35px;
        background-color: rgb(160, 177, 244);
        border-radius: 50%;
        cursor: pointer;
    }
    .header-blog .burger-label:before {
        content: '';
        background-color: rgb(43, 42, 42);
        width: 2.2rem;
        height: .2rem;
        position: absolute;
        left: 0.20em;
        top: 0.40em;
        box-shadow: 0 0.25em 0 0 rgb(43, 42, 42), 
                    0 0.5em 0 0 rgb(43, 42, 42);
    }
    /* Closed Menu */
    .sidebar {
        display: none;
    }
    .blog-nav {
        display: none;
    }
    /* Open menu */
    #burger-checkbox:checked ~ .blog-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        opacity: 0.97;
        padding: 0 0 3rem 0;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(203, 202, 202);
    }
    
    .blog-nav > li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }
    .blog-nav > li:hover{
        background-color: rgb(160, 177, 244);
    }
    .blog-nav > li:hover > a {
        color: white;
    }
    /* END BURGUER MENU */
}
@media all and (max-width: 830px) {
    .posts-cont {

        margin-top: 1rem;
    }
    .post-title {
        width: 100%;
    }
    .post {
        padding: 2.2% 2%;
        display: flex;
        flex-direction: column;
    }
    .post > h4 {
        margin: 1rem 0;
        width: 100%;
        text-align: left;
    }
    .post > p {
        margin: 0;
    }
}