@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


.blog-post-container {
    max-width: 900px;
    margin: 0 auto;
}
.blog-post {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 7rem 0 3rem 0;
}
/* TITLE POST */
.blog-post > h1 {
    margin: 0 auto;
    font-size: 34px;
    width: 85%;
    font-family: "El Messiri";
}
.sub-heading {
    color: rgb(160, 177, 244);
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}
.sub-heading a {
    text-decoration: none;
    color: rgb(160, 177, 244);
}
.sub-heading ul {
    display: flex;
}
.sub-heading li {
    list-style: none;
    margin: 0 .2rem;
}
/* POST CONTENT */
.blog-post-content {
    line-height: 1.7;
    letter-spacing: .02em;
    word-spacing: .05em;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
}
p {
    margin: 1.5rem 0;
}
ol {
    width: 85%;
    margin: 15px auto;
}
.blog-post-content ul {
    width: 90%;
    margin: 15px 1rem;
    padding: 0;
}
.header-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 30px; 
    background-color: #fff;
}
.comments {
    width: 60%;
}
.footer-post {
    border-top: 0.5px solid rgb(155, 154, 154);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
}

/* Inline code */
code {
    background-color: #282a36cc;
    color: #FFFFFF;
    font-family: monospace;
    border-radius: 5px;
    padding: .2rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
@media (max-width: 813px) {
    .comments {
        width: 80%;
    }
    .sub-heading {
        max-width: 80%;
        margin: auto;
        margin-bottom: 3rem;
        gap: 0;
    }
    .sub-heading ul {
        display: flex;
        
    }
}