@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

/* HEADER BLOG & SINGLE POST */
.header-blog {
    z-index: 999;
    min-width: 100vw;
    margin-bottom: 60px;
    padding: 1% 5%;
    height: 60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 
    0px 1px 10px 0px rgba(0,0,0,0.12) , 
    0px 2px 4px -1px rgba(0,0,0,0.2) ;
}
/* BLOG NAVBAR */

.blog-nav {
    display: flex;
    margin: 0;
    padding: 0;
}
.blog-nav > li {
    list-style: none;
    border-bottom: 2px solid rgba(160, 177, 244, 0);
    padding: 8px 15px;
}
.blog-nav li:hover {
    border-bottom: 2px solid rgb(160, 177, 244);
    -webkit-transition: 0.7s ease;
            transition: 0.7s ease;
}
.blog-nav > li > a {
    color: #1d1f21;
    text-decoration: none;
}
/* BURGER MENU */
.header-blog #burger-checkbox {
    display: none;
}
/* SIDEBAR */
.sidebar {
    background-color: rgb(235, 235, 235);
    padding-top: 5rem;
    max-width: 20%;
    min-height: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14), 
        0px 1px 10px 0px rgba(0,0,0,0.12), 
        0px 2px 4px -1px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* SEARCH BAR */
.algolia-autocomplete {
    width: 100%;
    color: #333;
  }
  .algolia-autocomplete .aa-input,
  .algolia-autocomplete .aa-hint {
    width: 100%;
  }
  .algolia-autocomplete .aa-input {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  .algolia-autocomplete .aa-hint {
    color: #999;
  }
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    margin-top: 0.25rem;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .title {
    font-size: 1rem;
    margin-bottom: 0rem;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .description {
    font-size: 0.9rem;
    color: #999;
    margin-top: 0.25rem;
    margin-bottom: 0rem;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #c4d3e4;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }
  .algolia-autocomplete .aa-dropdown-menu .branding {
    font-size: 0.9rem;
    color: #666;
    text-align: right;
    margin: 0 0.5rem 0.25rem 0;
  }
  .algolia-autocomplete .aa-dropdown-menu .branding img {
    height: 1.25rem;
    position: relative;
    top: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 0;
  }

/* SIDEBAR CATEGORIES */
.sidebar-categories-title {
    font-size: 24px;
    color:rgb(160, 177, 244);
    font-weight: 600;
    width: 100% !important;
    text-align: center;
} 
.sidebar-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ul-categories {
    list-style: none;
    padding: 0;
    width: 100%;
}
.ul-categories li {
    text-align: center;
    width: 100%;
    padding: .8rem;
}
.ul-categories li:hover {
    background-color: rgb(213, 213, 213);
}
.ul-categories li a {
    text-decoration: none;
    font-size: 18px;
    color: #303030;
}
/* SIDEBAR NEWSLETTER */
.newsletter-sidebar {
    display: block;
    margin: 50px auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #F6F6F2;
    border-radius: 10px;
}
.newsletter-sidebar:after,
.newsletter-sidebar:before {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
  background-image: repeating-linear-gradient(135deg, #F29B91 0px, #F09290 15px, transparent 15px, transparent 25px, #83B3DB 25px, #84ADCB 40px, transparent 40px, transparent 50px);
}
.newsletter-sidebar p {
    margin: 0;
    text-align: left;
}
.newsletter-sidebar  p:first-child {
    margin: 30px 30px 15px;
    color: #83B3DB;
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
}
.newsletter-sidebar #newsletter:after {
    content: '@';
    width: 60px;
    height: 60px;
    display: block;
    padding: 0px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: rgba(242, 155, 145, 0.5);
    font-size: 55px;
    transform: rotate(-35deg);
    font-weight: 400;
    border-radius: 99px;
    text-align: center;
    line-height: 45px;
}
.newsletter-sidebar input[type="email"] {
    display: block;
    color: #999;
    padding: 10px 0 !important;
    text-align: left;
    max-width: 80% !important;
    outline: none;
    border: 0;
    font-size: 14px;
    background-color: transparent;
    border-bottom: 1px solid #DEDEDE;
}   
.newsletter-sidebar input[type="email"]::-webkit-input-placeholder {
    color: #d0d0d0;
}
.newsletter-sidebar input[type="email"]:-moz-placeholder {
    color: #d0d0d0;
}
.newsletter-sidebar input[type="email"]::-moz-placeholder {
    color: #d0d0d0;
}
.newsletter-sidebar input[type="email"]:-ms-input-placeholder {
    color: #d0d0d0;
}
.newsletter-sidebar button[type="submit"] {
    margin: 15px 35px 25px;
    background-color: #83B3DB;
    color: #fff;
    padding: 10px 14px !important;
    text-align: center;
    width: auto;
    max-width: 70%;
    outline: none;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .1s all ease-in-out;
    -moz-transition: .1s all ease-in-out;
    -o-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
    box-shadow: 0px 0px 0px 5px #83B3DB;
}
.newsletter-sidebar button[type="submit"]:hover {
    background-color: #F29B91;
    box-shadow: 0px 0px 0px 5px #F29B91;
}

/* BLOG CONTENT */
.blog-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}
.blog-div  h2 {
    text-align: center;
    font-family: "El Messiri";
    padding-bottom: 2rem;
}

/* POSTS LIST SECTION */
.posts-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   padding: 6rem 5%;
}
.post {
    display: block;
    /* border-bottom: 1px dotted rgb(151, 149, 149); */
    padding: 2.2% 2%;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 5px;
}
.post:hover {
    /* background-color: rgba(214, 213, 213, 0.646); */
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
    border-left: 3px solid rgb(160, 177, 244);
}
.post-title {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-weight: 600;
    font-size: 27px;
    max-width: 70%;
    float: left;
}
.post > h4 {
    color: rgb(160, 177, 244);
    margin: 5px 0;
    font-size: 14px;
    width: 150px;
    text-align: right;
    float: right;

}
.post > p {
    clear: both;
    font-size: 18px;
    padding: 1rem 0;
    word-spacing: 0.04em;
    letter-spacing: 0.009em;
    line-height: 1.3;
    color: rgb(48, 47, 47);
}
.post ul {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    clear: both;
}
.post li {
    list-style: none;
    border: 1px solid #969696;
    padding: .3rem;
    border-radius: 7px;
    text-align: center;
    width: 70px;
    margin: 0 .2rem;
    flex-wrap: wrap;
}
.post li a {
    text-decoration: none;
    color: #969696;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .posts-cont {
        width: 100%;
    }
}
@media (max-width: 800px) {
    
    .header-blog h1 {
        text-align: center;
        margin: 0 auto;
    }
    .post-title {
        min-width: 100%;
    }
    .post h4 {
        width: 100%;
        text-align: left;
        margin-top: .5rem;
    }
    /* BURGUER MENU */
    .header-blog .burger-label {
        margin: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 35px;
        background-color: rgb(160, 177, 244);
        border-radius: 50%;
        cursor: pointer;
    }
    .header-blog .burger-label:before {
        content: '';
        background-color: rgb(43, 42, 42);
        width: 2.2rem;
        height: .2rem;
        position: absolute;
        left: 0.20em;
        top: 0.40em;
        box-shadow: 0 0.25em 0 0 rgb(43, 42, 42), 
                    0 0.5em 0 0 rgb(43, 42, 42);
    }
    /* Closed Menu */
    .sidebar {
        display: none;
    }
    .blog-nav {
        display: none;
    }
    /* Open menu */
    #burger-checkbox:checked ~ .blog-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        opacity: 0.97;
        padding: 0;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        height: 50vh;
        background-color: rgb(203, 202, 202);
    }
    
    .blog-nav > li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }
    .blog-nav > li:hover{
        background-color: rgb(160, 177, 244);
    }
    .blog-nav > li:hover > a {
        color: white;
    }
    /* END BURGUER MENU */
}
@media all and (max-width: 830px) {
}