
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
    max-width: 100vw;
}
#home-cont {
    max-width: 100vw;
    min-height: 100vh;

   
}
@media (max-width: 830px) {
  #home-cont {
    max-width: 100vw;
  }
}